.header {
  margin-top: 50px;
}

.thanks {
  margin-bottom: 50px;
}

/* Nav Bar */
/* .navbar-expand-lg {
  height: 3em;
} */

.nav-link {
  font-size: 1.3em;
  margin-right: 1em;
}

/* Progress Bars */
.progress {
  margin-top: 5px; 
}

.skill_collection, .skill_chart {
  margin: 10px;
}

.skill_collection > span {
  display: inline-flex;
  margin: 5px;
  padding: 5px;
  background-color: rgb(255, 250, 236);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

/* Hobbies */
.reading {
  background-image: url('../assets/images/book.jpg');
  background-size: cover;
}

.games {
  background-image: url('../assets/images/chess.jpg');
  background-size: cover;
}

.photography {
  background-image: url('../assets/images/highway.JPG');
  background-size: cover;
}

.programming {
  background-image: url('../assets/images/laptop.jpg');
  background-size: cover;
}

.music {
  background-image: url('../assets/images/concert.jpg');
  background-size: cover;
}

.gym {
  background-image: url('../assets/images/gym.jpg');
  background-size: cover;
}


.card-text, .card-title {
  color:white;
  text-shadow: rgb(0, 0, 0) 0px 0px 15px;
}

.card-text {
  font-size: 1.2em;
  min-height: 15em;
}